@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 5, 5, 5;
  --bg-c3: #f5f5f5;
  --bg-c2: #e5e5e5;
  --bg-c1: #d5d5d5;
}

:root.dark {
  --text-color: 250, 250, 250;
  --bg-c3: #2c2c41;
  --bg-c2: #212134;
  --bg-c1: #1c1c2b;
}

html {
  --s: 120px; /* control the size*/
  --c3: var(--bg-c3);
  --c2: var(--bg-c2);
  --c1: var(--bg-c1);

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
  color: rgb(var(--text-color));
}
